body{
  display:block;
  text-align: center;
  align-items: center; 
  
  
}
.container{
  
  
  align-items: center; 

  
  
  
}
.container form{
  margin-bottom: 70px;
  background-color: rgb(251, 251, 251);

 
}
.container h1{


}
.container input{
  display: block;
  margin-left: 29rem;
  margin-right: 29rem;
  padding: 5px;
  border-radius: 3px;

  
}
.container button{
 margin-top: 5px;
 
}
.container label{
 
}